*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;

}

.box-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.box-title h1{
    font-size: 1.6rem;
}

.interactions{
    display:flex; 
    gap: 1.2rem;
}

.btn-interactions a{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: #222;
}

.galery{
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}
.galery div{
    width: 100%;
    height: 100%;
}
.galery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.img1 img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.img3 img{
    border-top-right-radius: 15px;
}

.img5 img{
    border-bottom-right-radius: 15px;
}