main{
    height: 100vh;
    
}

#chat-log{
    width: 90%;
    background-color: aliceblue;
    padding: 5vh;
    margin: 20px auto;
    border-radius: 5px;
}

.message {
    display: block;
}
.message--sent{
    text-align: right;
    color: rgb(170, 7, 5);
}

.message--sent::before{
    content: "Usuário";
    font-size: 12px;
}

.message--assistant{
    text-align: left;
}
.message--assistant::before{
    content:  "ChatBot";
    font-size: 12px;

}