.container {
    width: 80%;
    height:600px;
    margin: 0 auto;
    border: 10px solid darkgreen;
    
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);
    
    justify-content: center;
}

.item {
    padding: 10px;
    background-color: pink;
    color: #fff;
    border: 10px solid #848;
}

